.header {
    /* width: 100%; */
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    border-bottom: 1px solid #ddd;
  }
  
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    color: black;
  }
  
  .brand {
    color: #007AFF;
  }
  
  .nav {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
  }
  
  .nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    white-space: nowrap;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }

